.footer{
    border-top: 2px solid color('gris');
    width: 100%;
    background: color('primario');
    padding: {
        top: 60px;
        bottom: 60px
    }
    &__subtitulo{
        font-size: font('subtitulo-footer');
    }
    p{
        font-size: font('descripciones');
        margin-top: 5px;
    }
    color: color('gris');
    display: flex;
    justify-content: space-around;
    align-items: center;
}


@media (max-width: breakpoint('ipad-grande')){
    .footer{
        display: block;
        position: relative;
        z-index: 9;
        &__contenido{
            width: 90%;
            margin: auto;
            text-align: center;

        }
        &__iconos{
            margin-top: 30px;
        }
    }

}