//PALETA DE COLORES

$palette : (
    'primario': #fff,
    'secundario': #000,
    'azul': #498ef9,
    'gris': #414241,
    'morado': #23346F,
    'amarillo': #FEDB31,
    'rojo': #ca1616,
    'azul-claro': #c2e5fd,
    'verde': #10c210
);   

//FONT SIZE

$font : (
    'titulos': 55px,
    'subtitulos': 28px,
    'descripciones': 20px,
    'subtitulo-footer': 22px

);

$font-mobile: (
    'titulos': 38px
);

//BREAKPOINTS

$breakpoints: (
    'desktop': 1800px,
    'portatil': 1440px,
    'portatil-pequeño': 1100px,
    'ipad-grande': 992px,
    'ipad-pequeña': 768px,
    'celular': 576px

);

//OTROS

$transition-duration: .3s;
