.cta{
    padding: 0 50px;
    color: color('primario');
    text-transform: uppercase;
    background: color('morado');
    border-radius: 5px;
    @include flex;
    width: fit-content;
    height: 45px;
    &__contenedor{
        &:hover{
            padding-bottom: 1000px;
        }
    }
    &--top{
        margin-top: 40px;
        transition: .3s all ease;
        position: relative;
        &:hover{
            background-color: colorDarken('morado', 6);
            box-shadow: 0 0 5px 0 color('morado');
            margin-top: 35px;
        }
    }
}