.contenedor{
    max-width: 1400px;
    width: 90%;
    margin: auto;
    &--padding{
        padding: 60px;
    }
    &--bottom{
        margin-bottom: 100px;
    }
    &--top-100{
        margin-top: 100px;
    }
    &--bottom-100{
        margin-bottom: 100px;
    }
    &--proyectos{
        margin-top: -220px;
    }
}
@media(max-width: breakpoint('ipad-pequeña')){
    .contenedor{
        &--padding{
            padding: 60px 20px 60px 20px;
        }
    }
}
@media(max-width: breakpoint('celular')){
    .contenedor{
        &--padding{
            padding: 60px 0 60px 0;
        }
    }
}