body{
    &::-webkit-scrollbar-thumb {
        background: color('gris');
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        background: rgba(255,255,255,0.8);
    }
    &::-webkit-scrollbar {
        width: 8px;
        height: 5px;
    }
}