.titulo{
    color: color('azul');
    font-size: font('titulos');
    font-weight: 900;
    line-height: 1;
    &--margin{
        margin: 10px 0 20px 0;
    }
}
.subtitulo{
    font-size: font('subtitulos');
    font-weight: 500;
    color: color('secundario');
}
.descripcion{
    font-size: font('descripciones');
    font-weight: 400;
    color: color('secundario');

}

@media(max-width: breakpoints('ipad-grande')){

}

@media(max-width: breakpoint('celular')){
    .titulo{
        font-size: font-mobile('titulos');
    }
}