.titulo{
    color: color('morado');
    font-size: 45px;
    font-weight: 900;
    line-height: 1;
    &--margin{
        margin: 10px 0 20px 0;
    }
}
.subtitulo{
    font-size: 25px;
    font-weight: 500;
    color: color('secundario');
}
.descripcion{
    font-size: 20px;
    font-weight: 400;
    color: color('secundario');

}

@media(max-width: breakpoints('ipad-grande')){

}