//HAMBURGUESA
@keyframes hamburguesa-cien {
    from{
        width: 100%;
    }
    to{
        width: 0;
    }
}
@keyframes hamburguesa-ochenta {
    from{
        width: 80%;
    }
    to{
        width: 0;
    }
}
@keyframes close-hamburguesa-cien {
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}
@keyframes close-hamburguesa-ochenta {
    from{
        width: 0;
    }
    to{
        width: 80%;
    }
}
@keyframes close-hamburguesa-firts{
    from{
        transform: rotate(-50deg);
    }
    50%{
        transform: rotate(0);
    }
    to{
        transform: rotate(0);
        opacity: 0;
    }
}
@keyframes close-hamburguesa-second{
    from{
        transform: rotate(50deg);
    }
    50%{
        transform: rotate(0);
    }
    to{
        transform: rotate(0);
        opacity: 0;
    }
}
//FADE
@keyframes fade-from-top {
    from{
        transform: translateY(100px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes fade-defecto{
    from{
        transform: translateY(0);
        opacity: 1;
    }
    to{
        transform: translateY(100px);
        opacity: 0;
    }
}

//close 

@keyframes heightClose{
    from{
        opacity: 1;
        transform: rotate(-180deg);
    }
    to{
        opacity: 1;
        transform: rotate(-50deg);
    }
}
@keyframes heightCloseSecondChild{
    from{
        opacity: 1;
        transform: rotate(-180deg);
    }
    to{
        opacity: 1;
        transform: rotate(50deg);
    }
}

@keyframes heightCloseDefecto{
    from{
        opacity: 1;
        transform: rotate(-50deg);
    }
    to{
        opacity: 0;
        transform: rotate(-180deg);
    }
}
@keyframes heightCloseDefectoSecondChild{
    from{
        opacity: 1;
        transform: rotate(50deg);
    }
    to{
        opacity: 0;
        transform: rotate(-180deg);
    }
}